.about_page{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 20px;
    color: #fff;
}

.about_title{
    font-size: 2rem;
    color: #fff;
    margin: 1rem;

}

.about_title hr{
    width: 3rem;
    height: 8px;
    background: #ffdb70;
    border: none;
    border-radius: 10px;
    margin: 1rem 0;
}

.about_me{
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(120deg, #367ef0 0%, #1ca4e4 100%);
    margin-bottom: 5rem;
}

.about_me p{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.8;
}
span{
    color:  #f77423;
    font-weight: 600;
    
}

.button-62 {
    margin-top: 2rem;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.focus h2{
text-align: center;
margin: 2rem;
 font-size: 2.5rem;
}
.focus_card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.focus img{
    width: 50px;
    margin: 1rem;
}

.focus .card{
    width: 40%;
    display: flex;
    margin: 2rem;
    padding: 1rem;
    /* border: 1px solid; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    background-image: linear-gradient(120deg, #367ef0 0%, #1ca4e4 100%);
}

.card h3{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.card p {
    line-height: 1.5;
}

.languages h2{
    margin: 2rem;
 font-size: 2.5rem;
    text-align: center;
}

.coding_cont{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.codig_language{
    /* text-align: center; */
    width: 80%;
    background-image: linear-gradient(120deg, #367ef0 0%, #1ca4e4 100%);
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
}

.lan_card{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column  ;
}

.lan_card hr{
    width: 80%;
    height: 10px;
    background: #e19810;
    border: none;
    border-radius: 10px;
}